@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

body{
  font-family: 'Prompt', sans-serif;
  display:flex;
  justify-content: center;
  margin:0;
  font-size: 1.2rem;
  padding:0;
  box-sizing: border-box;
  width:100vw;
  height:100vh;
  color:#ccc;
  background: #3C3B3F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.heading{
  color:#ffa500;
}

.App{
  width:70vw;
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;
}

button {
  background-color:transparent;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
}
.on {
  color: #f7c05c;
}
.off {
  color: #ccc;
}

.star{
  font-size: 4rem;
}

.heading{
  margin:6rem 0;
}

.star-rating{
  border:8px solid #949393;
  padding:2.8rem;
  text-align: center;
  width:30rem;
}
h2{
  margin-bottom: 0;
  font-weight: 900;
}

.thanks{
  font-weight: 700;
  margin-top: 0;
  color: #aaa9a9;
  /* text-decoration: underline;
  text-decoration-color:#f7c05c;
  text-decoration-thickness:0.5rem; */
  border-bottom: 0.5rem double #f7c05c;
  padding-bottom: 0.3rem;
}

.Footer{
  height:5vh;
  position: fixed;
  bottom: 0;
  left:4rem;
  padding-bottom: 1rem;
  font-size: 1rem;
}

